<section id="side-bar" class="float visible" style="top: 20px; left: 855px; width: 370px;"
         xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
   
    <h3>Denis Trailin</h3>
	<p>Linux enthusiast, polically inclined, programmer, proud member of <a href="http://www.4334.ca">Team 4334</a>.
	<p><a href="https://github.com/hiyou102"><img src="/img/github.png" width="60" height="60" title="Follow me on GitHub">
	<a href="http://www.chiefdelphi.com/forums/member.php?u=65094"><img src="/img/delphi.jpg" width="60" height="60" title="Add me on Chief Delphi">
        <a href="http://steamcommunity.com/id/iwinu"><img src="/img/steam.png" width="60" height="60" title="Add me on Steam">
	<a href="https://news.ycombinator.com/user?id=hiyou102"><img src="/img/hackernews.png" width="60" height="60" title="Me on HN">
	</p>

	
</a>
   

 
</section>
<script>
    $('#side-bar').affix()
</script>
